*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    display: flex;

}

.background-container{

    background-image: url("images/guitar.jpeg");
    background-size:cover ;
    width: 35vw;
    height: 100vh;
    border-right: solid rgba(224, 101, 13, 0.3) 0.5px;

}
main{
    border-left: solid rgba(0, 0, 0, 0.6) 0.5px;
    width: 65vw;
    height: 100vh;
    background:linear-gradient(to right, rgba(0,0,0,0.2) 10%, 
    rgba(0,0,0,0.3) 10%,
    rgba(0,0,0,0.8)
    ),
    url("images/background.jpeg");
    background-size: cover ;

}

.banner{
    width: auto;
    height:5vw;
    background-color: rgba(0, 0, 0,0.4);
    margin-top: 9vw;
    display: flex;
    user-select:none;
    overflow:visible;


}
h2{
    font-family: 'Great Vibes', cursive;
    font-size: 5vw;
    color: rgba(237, 201, 56, 0.6);
    overflow:visible;
    margin-left: 30px;
}
img{
    width:4vw;
    margin-left: 2vw;
    opacity: 0.2;
    margin-bottom: 5px;
}


.header{
    height:14vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: calc(0.5vw + 5px);
    padding-top:calc(2vw + 5px) ;
    user-select: none;
    
}

.header-top{
    font-family: 'Special Elite', cursive;
    line-height: 3.8vw;
    letter-spacing: 0.1rem;
    color: rgb(229, 205, 177);
 
}
.header-top :nth-child(2){
    font-size: calc(2.4vw - 10px);
}
.h3-title{
    position: relative;
    font-size: calc(3vw - 8px);
}

.quote-price{
    --shadow-color: #ca6522;
    color:rgb(227, 206, 177);
    animation: neonlight 1s ease-in-out infinite alternate;
}
@keyframes neonlight {
    100% {
        text-shadow:
          0 0 10px rgb(240, 122, 12),
          0 0 4px rgb(7, 5, 5),
          0 0 3px rgb(250, 246, 3),
          0 0 2px var(--shadow-color),
          0 0 3px var(--shadow-color),
          0 0 2px var(--shadow-color),
          0 0 1px var(--shadow-color),
          0 0 4px var(--shadow-color);
      }
     0% {

        text-shadow:
          0 0 4px rgb(210, 194, 17),
          0 0 10px rgb(186, 197, 29),
          0 0 8px #fff,
          0 0 0px var(--shadow-color),
          0 0 0px var(--shadow-color),
          0 0 0px var(--shadow-color),
          0 0 0px var(--shadow-color),
          0 0 0px var(--shadow-color);
      }
}


.log-in{
    font-size: calc(1.5vw - 2px);
    color: rgb(251, 253, 255);
    font-family: 'Special Elite', cursive;
}

.log-in > a{
    color:rgb(90, 133, 198);
}
.log-in > a:hover{
    color:rgb(255, 255, 255);
  
}



.this-hover{
    color: rgb(110, 153, 151);
}
.this-hover:hover{
    color: rgb(88, 88, 223);
}

.guitar-shred-gif{
    display: none;
    opacity:1;
    width: 200px;
    position: fixed;
    margin-left: -130px;
    margin-top: 3vw;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(75vh - 3px);
    font-family: 'Vollkorn', serif;

}

.form-container{
    width: calc(45vw + 70px);
    height: calc(7vw + 10px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(2.5vw + 30px);
    border-radius: 3px;
    margin-bottom: calc(1.2vw + 10px);
    box-shadow: rgba(59, 58, 58, 0.25) 0px 54px 55px, rgba(119, 119, 119, 0.12) 0px -12px 30px, rgba(57, 56, 56, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

label{
    color: rgb(255, 244, 232);
    font-size: calc(1.2vw + 4px);
    opacity: 0.8;
    position: relative;
}
.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 21rem;
}
input{
    width: calc(15vw + 10px);
    height: calc(2.5vw - 2px);
    margin-left: calc(1vw - 1px);
    background: rgba(235, 231, 231, 0.3);
    border-style: none;
    font-size: calc(2vw - 4px);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    caret-color: rgb(18, 17, 17);
    
}
input:focus{
    outline:none;
    border: 2px solid #ff6600;
}


button{
    border: 0.5px solid black;
    border-radius: 3px;
    width: calc(10vw + 15px);
    height: calc(2vw + 20px);
    background-color: rgba(223, 133, 15, 0.3);
    color: rgba(227, 201, 201, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: calc(1vw + 2px);
}

button:hover{
    background-color: rgba(255, 166, 0, 0.3);
}
button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.inputs{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

}

.check-invalid, .check-valid{
    font-size: calc(2vw - 4px);
    margin-left:0.5vw;
    display: block;
   
}

.check-invalid{
    color: red;
}
.check-valid{
    color: rgb(74, 206, 44);
}

.error-message{
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    color:rgb(239, 21, 21);
    font-size: calc(0.8vw + 3px);
    opacity:1;
    margin-left: 2px;

}

/* Media Stuff */

@media (max-width: 920px){
    body{
        display: flex;
        flex-direction: column;
    }
    .background-container{
        width: 100vw;
        height: 20vh;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: solid rgba(95, 57, 1, 0.1) 0.5px;
        border-right: none;

    }
    main{
        border-top: solid rgba(224, 117, 30, 0.7) 0.5px;
        border-left: none;
        width: 100vw;
        height: 80vh;
        background:linear-gradient(to top, rgba(0,0,0,0.3) 10%, 
        rgba(0,0,0,0.3) 10%,
        rgba(0,0,0,0.7)
        ),
        url("images/background.jpeg");
        background-size: cover;
    }
    .banner{
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        height:9vw;
        background-color: rgba(0, 0, 0,0.6);
    }
    h2{
        margin-top: 5px;
        font-size: 7vw;
        color: rgba(237, 201, 56, 0.894);
    }

    .guitar-shred-gif{
        width:20vw;

    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(13vw + 45px);
        margin-top: -20px;
       
    }

    .h3-title{
        font-size: calc(2vw + 8px);
        text-align: center;
    }
    .header-top :nth-child(2){
        font-size: calc(1vw + 8px);
        text-align: center;
    }
    .log-in{
        font-size: calc(1vw + 6px);
        text-align: center;
    }


} 


@media (max-width:1300px) {
    .form-container{
         margin-bottom: calc(3.5vw + 7px);
         margin-top: calc(2vw);
         padding: calc(3vw + 30px);
    }
}
@media (max-width:1000px){
    form{
        margin-top: calc(3vw + 10px);
    }
}

@media (min-width: 2000px){
    form{
        height: calc(70vh);
    }
    .form-container{
        width: calc(55vw + 50px);
        margin-bottom: calc(0.3vw + 10px);
    }
}